*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    --main-color: #69112a;
    --primary-color: #ffffff;
    --secondary-color: #000;
    --bg-color: #fff9f2;
    --main-font: "Inter", sans-serif;
    --secondary-font: "Lora", serif;
    --body-font: "Open Sans", sans-serif;
}

body {
    font-family: var(--body-font);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1099;
}

header div.header_wrapper, header div.header_wrapper nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

header div.header_wrapper {
    height: 100px;
    max-width: 85%;
    margin: 0 auto;
}

header div.header_wrapper .logo {
    width: 86px;
    height: 74px;
}

header div.header_wrapper .logo img {
    width: 100%;
    height: 100%;
}

header div.header_wrapper .menu-toggle {
    display: none;
}

header div.header_wrapper nav ul li {
    margin: 0 32px;
    font-family: var(--main-font);
    font-weight: 500;
    height: 36px;
    width: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header div.header_wrapper nav ul li.active {
    color: var(--main-color);
    border-bottom: 2px var(--main-color) solid;
}

header div.header_wrapper div button, 
main section#hero-section .hero-wrapper .hero-content .hero-footer button {
    background-color: var(--main-color);
    color: var(--primary-color);
    width: 182px;
    height: 58px;
    border-radius: 4px;
}

/* Default Sections style */
main section#exp, main section#msv {
    height: 100vh;
}

/* Hero section (On home page) Style starts here */
main section#hero-section {
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
}

main section#hero-section .hero-wrapper {
    max-width: 85%;
    margin: 0 auto;
}

main section#hero-section .hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section#hero-section .hero-wrapper .hero-content  {
    width: 590px;
}

main section#hero-section .hero-wrapper .hero-content h1 {
    font-family: var(--secondary-font);
    font-size: 45px;
    line-height: 52px;
}

main section#hero-section .hero-wrapper .hero-content p {
    font-size: 22px;
    line-height: 28px;
    margin-top: 10px;
}

main section#hero-section .hero-wrapper .hero-img {
    width: 588.59px;
    height: 555.84px;
}

main section#hero-section .hero-wrapper .hero-img img {
    width: 100%;
    height: 100%;
}

main section#hero-section .hero-wrapper .hero-content .hero-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    /* width: 455px; */
    margin-top: 30px;
}

main section#hero-section .hero-wrapper .hero-content .hero-footer .star-content {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

main section#hero-section .hero-wrapper .hero-content .hero-footer  .star-content .stars i{
    color: #f59e0b;
    font-size: 14px;
}

main section#hero-section .hero-wrapper .hero-content .hero-footer .star-content p {
    font-size: 14px;
    margin-top: 0;
}

/* Partner Section styles start here */

main section.partner {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
}

main section.partner img {
    width: 996px;
    height: 100%;
    margin: 0 auto;
}

main section#exp .exp-wrapper, main section#msv .msv-wrapper {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main section#exp .exp-wrapper .exp-img, main section#msv .msv-wrapper .msv-img {
    width: 488px;
    height: 562.62px;
}

main section#exp .exp-wrapper .exp-img img, main section#msv .msv-wrapper .msv-img img {
    width: 100%;
    height: 100%;
}

main section#exp .exp-wrapper .exp-content, main section#msv .msv-wrapper .msv-content {
    width: 589px;
    height: 296px;
}

main section#exp .exp-wrapper .exp-content h2, main section#msv .msv-wrapper .msv-content h2 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

main section#exp .exp-wrapper .exp-content p, main section#msv .msv-wrapper .msv-content p {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
}

main section#exp .exp-wrapper .exp-content ul, main section#msv .msv-wrapper .msv-content ul {
    margin-top: 20px;
    height: 112px;
}

main section#exp .exp-wrapper .exp-content ul li, main section#msv .msv-wrapper .msv-content ul li {
    list-style-image: url('/assets/images/home_assets/Icon.png');
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 0 30px;
    width: 589px;
}

/* MSV SECTION STYLING STARTS HERE */
main section#msv .msv-wrapper {
    flex-direction: row-reverse;
}

main section#nerf {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section#nerf .nerf-wrapper {
    background-color: #14394C;
    width: 1200px;
    height: 406px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

main section#nerf .nerf-wrapper .nerf-img {
    width: 280px;
    height: 562.62px;
    position: absolute;
    left: 205px;
    top: 50px;
    transform: translateX(-205px);
    transform: translateY(-110px);
}

main section#nerf .nerf-wrapper .nerf-img img {
    width: 100%;
    height: 100%;
}

main section#nerf .nerf-wrapper .nerf-content {
    position: absolute;
    width: 386px;
    height: 264px;
    left: 613px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main section#nerf .nerf-wrapper .nerf-content h4 {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 600;
    height: 40px;
}

main section#nerf .nerf-wrapper .nerf-content p {
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
    height: 96px;
    width: 386px;
    line-height: 32px;
}

main section#nerf .nerf-wrapper .nerf-content button {
    background-color: var(--bg-color);
    width: 182px;
    height: 58px;
    border-radius: 4px;
    /* padding: 56px 38px; */
}

main section#threeD {
    background-color: var(--bg-color);
    padding-bottom: 50px;
}

main section#threeD hr {
    width: 85%;
    margin: 0 auto;
    border: 1.5px #d7d7d7 solid;
    border-radius: 10px;
}

main section#threeD .threeD-wrapper {
    width: 85%;
    margin: 0 auto;
}

main section#threeD .threeD-wrapper h4 {
    width: 673px;
    height: 40px;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 50px auto;
}

main section#threeD .threeD-wrapper div.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main section#threeD .threeD-wrapper div.grid .top, main section#threeD .threeD-wrapper div.grid .top2 {
    background-color: #ffffff;
    border: 2px var(--main-color) solid;
    border-left: none;
    border-bottom: none;
    border-radius: 20px;
    width: 995px;
    height: 588px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%; 
    margin: 0 auto;  
}

main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper {
    align-items: center;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .top-content {
    width: 305px;
    /* height: 328px; */
    margin: 0 auto;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content h5, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .top-content h5 {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content p, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .top-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 305px;
    height: 72px;
    margin-top: 10px;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content ul {
    width: 305px;
    height: 108px;
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content ul li {
    list-style-image: url('/assets/images/home_assets/Icon.png');
    font-size: 16px;
    line-height: 24px;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-img {
    width: 388px;
    height: 388px;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-img img {
    width: 100%;
    height: 100%;
}

main section#threeD .threeD-wrapper div.grid .middle {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main section#threeD .threeD-wrapper div.grid .middle .left {
    border: 2px var(--main-color) solid;
    border-left: none;
    border-bottom: none;
    border-radius: 20px;
    width: 488px;
    height: 588px;
    padding: 50px;
    background-color: #ffffff;
}

main section#threeD .threeD-wrapper div.grid .middle .left .content h5 {
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 600;
    line-height: 32px;
    width: 261px;
    height: 64px;
    margin-bottom: 30px;
}

main section#threeD .threeD-wrapper div.grid .middle .left .content img.attatch-img {
    width: 272.04px;
    height: 236px;
}

main section#threeD .threeD-wrapper div.grid .middle .left .content p {
    width: 388px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 50px;
}

main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content {
    height: 176px;
}

main section#get-started {
    height: 654px;
    background-color: #14394C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main section#get-started .get-started-img {
    width: 607px;
    height: 654px;
}

main section#get-started .get-started-img img {
    width: 100%;
    height: 100%;
}

main section#get-started .get-started-content {
    width: 709px;
    height: 210 px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main section#get-started .get-started-content h4 {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 600;
    height: 80px;
    width: 500px;
}

main section#get-started .get-started-content p {
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
    height: 32px;
    width: 589px;
    line-height: 32px;
}

main section#get-started .get-started-content button {
    background-color: var(--bg-color);
    width: 182px;
    height: 58px;
    border-radius: 4px;
}


@media screen and (max-width: 767px) {
    
    header div.header_wrapper .menu-toggle {
        display: block;
        width: 30px;
        height: 30px;
    }

    header div.header_wrapper .menu-toggle img {
        width: 100%;
        height: 100%;
    }  
    
    header div.header_wrapper nav {
        position: fixed;
        top: 10.7%;
        right: -100%;
        width: 100%;
        height: 388px;
        z-index: 999;
        background-color: var(--primary-color);
        transition: right 3s ease-in-out linear;
        padding: 40px, 24px, 40px, 24px;
    }


    header div.header_wrapper nav ul {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 388px;
        margin: 0 20px;
    }

    header div.header_wrapper nav ul li {
        justify-content: flex-start;
        align-items: start;
        margin: 15px 0;
    }

    header div.header_wrapper div.download-btn {
        display: none;
    }

    main section#hero-section .hero-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    main section#hero-section .hero-wrapper .hero-content {
        width: 327px;
        margin-top: 30px;
    }

    main section#hero-section .hero-wrapper .hero-content h1 {
        font-size: 32px;
        text-align: center;
    }

    main section#hero-section .hero-wrapper .hero-content p {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }

    main section#hero-section .hero-wrapper .hero-img {
        width: 324.9px;
        height: 306.82px;
        margin-top: 30px;
    }

    main section#hero-section .hero-wrapper .hero-content .hero-footer {
        flex-direction: column;
        margin-top: 30px;
    }

    main section.partner {
        height: 100.49px;
    }

    main section.partner img {
        width: 325px;
        height: 53px;
    }

    main section#exp .exp-wrapper, main section#msv .msv-wrapper {
        flex-direction: column-reverse;
        align-items: start;
    }

    main section#exp .exp-wrapper .exp-content, 
    main section#exp .exp-wrapper .exp-img, main section#msv .msv-wrapper .msv-content, main section#msv .msv-wrapper .msv-img {
        width: 327px;
    }

    main section#exp .exp-wrapper .exp-content h2, main section#msv .msv-wrapper .msv-content h2 {
        font-size: 24px;
    }

    main section#exp .exp-wrapper .exp-content p, main section#msv .msv-wrapper .msv-content p {
        font-size: 20px;
    }

    main section#exp .exp-wrapper .exp-content ul li, main section#msv .msv-wrapper .msv-content ul li {
        font-size: 16px;
        line-height: 24px;
        width: 295px;
    }

    main section#exp .exp-wrapper .exp-img, main section#msv .msv-wrapper .msv-img {
        margin-top: 20%;
    }

    main section#nerf {
        height: 446px;
        margin-top: 100px;
        z-index: 10;
    }

    main section#nerf .nerf-wrapper {
        position: unset;
        width: 100%;
        height: 766px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        z-index: 999;
        overflow-y: hidden;
    }

    main section#nerf .nerf-wrapper .nerf-img, main section#nerf .nerf-wrapper .nerf-content {
        position: unset;
    }

    main section#nerf .nerf-wrapper .nerf-img {
        height: 30rem;
        width: 100%;
        margin-top: 30px;
    }

    main section#nerf .nerf-wrapper .nerf-img img {
        height: 45rem;
    }

    main section#nerf .nerf-wrapper .nerf-content {
        text-align: center;
        margin-top: 80%;
        justify-content: center;
        align-items: center;
    }

    main section#nerf .nerf-wrapper .nerf-content h4 {
        font-size: 28px;
    }

    main section#nerf .nerf-wrapper .nerf-content p {
        font-size: 20px;
        width: 327px;
    }

    main section#threeD .threeD-wrapper {
        margin-top: 200px;
    }

    main section#threeD .threeD-wrapper h4 {
        font-size: 24px;
        width: 327px;
        text-align: left;
    }

    
    main section#threeD .threeD-wrapper div.grid .middle {
        flex-direction: column;
    }

    main section#threeD .threeD-wrapper div.grid .top, main section#threeD .threeD-wrapper div.grid .top2, main section#threeD .threeD-wrapper div.grid .middle .left {
        width: 305px;
        height: 80vh;
        padding: 50px 10px;
    }

    main section#threeD .threeD-wrapper div.grid .top .top-wrapper,
    main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper {
        flex-direction: column;
    }

    main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content {
        height: 294px;
    }

    main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content h5, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .top-content h5, main section#threeD .threeD-wrapper div.grid .middle .left .content h5 {
        font-size: 20px;
        width: 295px;
    }

    main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-content p, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .bottom-content p, main section#threeD .threeD-wrapper div.grid .middle .left .content p {
        font-size: 16px;
        width: 295px;
    }

    main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .top-content p { 
        width: 295px;
    }

    main section#threeD .threeD-wrapper div.grid .top .top-wrapper .top-img, main section#threeD .threeD-wrapper div.grid .top2 .top-wrapper .top-img img {
        width: 250px;
        height: 320px;
    }

    main section#get-started {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 766.04px;
        padding-bottom: 64px;
    }

    main section#get-started .get-started-img {
        width: 375px;
        height: 404px;
    }

    main section#get-started .get-started-img img {
        width: 100%;
        height: 100%;
    }

    main section#get-started .get-started-content {
        width: 327px;
        align-items: center;
        margin-top: 30px;
    }

    main section#get-started .get-started-content h4, main section#get-started .get-started-content p {
        width: 327px;
        height: 108px;
        font-size: 28px;
        text-align: center;
    }

    main section#get-started .get-started-content p {
        font-size: 20px;
        height: 60px;
    }
}